[Unit]
Description=Run Liminal Industries Minecraft world backup daily at midnight

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
